{% extends "base.html" %}

{% block pageid %}auth-form{% endblock pageid %}

{% block title %}Nouvelle autorisations - {{ super() }}{% endblock title %}
{% block h1 %}Nouvelle autorisation{% endblock h1 %}

{% block content %}
<section class="container">

<form method="post" accept-charset="utf-8"
      ng-controller="RequestFormCtrl as vm"
      class='form-inline'>

  <fieldset class="request">

    <legend>Demande</legend>

    {% raw %}

        <div class="row">

          <div class="col-xs-12">

            <label>Faite le</label>
            <span class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="dd/MM/yyyy"
                     ng-model="vm.requestData.requestDate"
                     is-open="vm.datePicker.opened"
                     datepicker-options="{startingDay: 1}"
                     ng-required="true"
                     close-text="Fermer"
                     current-text="Aujourd'hui"
                     clear-text="Supprimer"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vm.datePicker.opened = true">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>

            <label>par</label>

            <select name="genre">
              <option value="m">M.</option>
              <option value="f">Mme.</option>
            </select>

            <input type="text" name="candidate"
                   placeholder="NOM Prénom">

          </div>

        </div>

        <div class="row">

          <div class="col-md-4 address">
            <p><label>Adresse</label></p>
            <p><textarea></textarea></p>
          </div>

          <div class="col-md-4 phone">
            <p><label>Téléphone (optionnel)</label></p>
            <p><input type="tel" name="phone"></p>
          </div>
        </div>

        <div class="row motive">
          <div class="col-md-7">
            <label>Motif</label>
             <!-- TODO: select this from DB -->
            <select name="motive">
              <option>Accès à une propriété batie, à un village ou un hameau en coeur du parc</option>
              option
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <strong>Justificatifs</strong>
          </div>
        </div>

        <div class="row proofdoc">

          <div class="col-md-3">

            <label>Type</label>
            <select>
              {#     TODO: get that from DB #}
              <option value="carteGrise">Carte Grise</option>
              <option value="proofOfAddress">Justificatif de domicile</option>
              <option value="CMI">Carte mobilité inclusion</option>
            </select>

          </div>

          <div class="col-md-5 date">
            <label>Date de reception</label>
              <span class="input-group">

                <input type="text" class="form-control"
                       uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="vm.requestData.requestDate"
                       is-open="vm.datePicker.opened"
                       datepicker-options="{startingDay: 1}"
                       ng-required="true"
                       close-text="Fermer"
                       current-text="Aujourd'hui"
                       clear-text="Supprimer"  />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="vm.datePicker.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
                            <a href="#" class="delete">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
              </span>


          </div>

        </div>

        <div class="row addproofdoc">
          <div class="col-md-6">
            <button class="btn btn-default">
              Ajouter un justificatif
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>


    {% endraw %}

  </fieldset>

  <fieldset>
    <legend>Circulation</legend>
    <div class='row'>
      <div class="places col-md-7">
        <p><label>Lieux concernés</label></p>
        <p>
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Piste, UP, etc.">
            <span class="input-group-btn">
              <button class="btn btn-secondary"
                      type="button">Ajouter</button>
            </span>
          </div>
        </p>

        <ul>
          <li>
            Piste de Salèse
            <a href="#" class="delete">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        </ul>

      </div>
    </div>

    <div class="row">

      <div class="col-md-7">
        <p><Strong>Pour la période</Strong></p>
      </div>

      <div class="col-md-7">

          <label>Du</label>
          <span class="input-group">

            <input type="text" class="form-control"
                   uib-datepicker-popup="dd/MM/yyyy"
                   ng-model="vm.requestData.requestDate"
                   is-open="vm.datePicker.opened"
                   datepicker-options="{startingDay: 1}"
                   ng-required="true"
                   close-text="Fermer"
                   current-text="Aujourd'hui"
                   clear-text="Supprimer"  />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.datePicker.opened = true">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </span>

          <label>au</label>

          <span class="input-group">

            <input type="text" class="form-control"
                   uib-datepicker-popup="dd/MM/yyyy"
                   ng-model="vm.requestData.requestDate"
                   is-open="vm.datePicker.opened"
                   datepicker-options="{startingDay: 1}"
                   ng-required="true"
                   close-text="Fermer"
                   current-text="Aujourd'hui"
                   clear-text="Supprimer"  />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.datePicker.opened = true">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </span>

        </div>

      </div>

      <div class="row rules">
        <div class="col-md-6">
          <p>
            <label>Prescriptions</label>
          </p>
          <textarea></textarea>
        </div>
      </div>

  </fieldset>


  <fieldset>
    <legend>Véhicules</legend>

    <div class="row addvehicule">

      <div class="col-md-7">
        <p>
          <label>Immatriculation</label>
          <input type="text">
          <a href="#" class="delete">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </p>
      </div>

      <div class="col-md-7">
        <button class="btn btn-default">
          Ajouter un véhicule
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

      <div class="col-md-7 groupVehicules">
        <p>
          <label>
            <input type="checkbox" id="cbox1" value="groupCards">
            <span>Grouper tous les véhicules sur un même carton</span>
          </label>
        </p>
      </div>

    </div>

  </fieldset>

  <footer>

    <fieldset>

      <p>Modèles de lettre par défaut. <a href="#">Modifier</a>.</p>

      <p>
        <a href="#">Annuler</a>

        <button class="btn btn-default">
          Sauvegarder
        </button>
      </p>

    </fieldset>

  </footer>

</form>

</section>

{% endblock content %}
