<!DOCTYPE html>
<html lang="fr" ng-app="autcircu">
<head>
  <title>Autorisations de circulation - {{ date }}</title>

  <style type="text/css">
    @media print{@page {size: landscape}}

    table {
        color: #333;
        border-collapse:
        collapse; border-spacing: 0;
        table-layout: fixed;
        width: 100%;
    }

    td, th { border: 1px solid #CCC; height: 30px; }

    th {
        background: grey;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    tr:nth-child(odd) {
        background: #F3F3F3;
    }

    table td {
        word-wrap: break-word;
    }
  </style>
</head>
<body>


<h2>Autorisations de circulation - {{ date }}</h2>

<table ng-hide="vm.loading" class="table auth-list ng-cloak">

  <thead>
    <tr>
      <th>{{ auth_requests[0][0] }}</th>
      <th>{{ auth_requests[0][1] }}</th>
      <th>{{ auth_requests[0][2] }}</th>
      <th>{{ auth_requests[0][3] }}</th>
      <th>{{ auth_requests[0][4] }}</th>
    </tr>
  </thead>

  <tbody>

  {% for row in auth_requests[1:] %}
    <tr>
      {% for cell in row %}
        <td>{{ cell }}</td>
      {% endfor %}
    </tr>

  {% endfor %}

  </tbody>

</table>


</body>
</html>
