[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

Flask = "==0.12"
SQLAlchemy = "==1.1.4"
"Flask-SQLAlchemy" = "==2.1"
"Flask-Admin" = "==1.4.2"
"SQLAlchemy-Utils" = "==0.32.12"
ipython = "==5.3.0"
"Flask-Excel" = "==0.0.7"
"pyexcel-ods" = "==0.4.0"
secretary = "==0.2.16"
pypnusershub = {git = "https://github.com/PnX-SI/UsersHub-authentification-module/"}
WeasyPrint = "==0.40"


[requires]
python_version = "3.6"