[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "==7.16.3"


[packages]


flask = "==0.12"
sqlalchemy = "==1.1.4"
"flask-sqlalchemy" = "==2.1"
"flask-admin" = "*"
"sqlalchemy-utils" = "==0.32.12"
"flask-excel" = "==0.0.7"
"pyexcel-ods" = "==0.4.0"
secretary = "==0.2.16"
pypnusershub = {git = "https://github.com/PnX-SI/UsersHub-authentification-module/"}
weasyprint = "==0.40"
gunicorn = "*"
pendulum = "*"


[requires]
python_version = "3.6"