{% extends "base.html" %}

{% block appname %}auth_request{% endblock appname %}"

{% block pageid %}auth-form{% endblock pageid %}

{% block extracss %}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/select.css') }}">
{% endblock extracss %}

{% block extrajs %}

  <script>
    // avoid an additional ajax request
    window.PRELOAD_PLACES = {{ places|safe }};
  </script>

  <script src="{{ url_for('static', filename='js/select.js') }}"
        type="text/javascript" charset="utf-8" ></script>
  <script src="{{ url_for('static', filename='js/forms.js') }}"
        type="text/javascript" charset="utf-8" ></script>
{% endblock extrajs %}

{% block title %}Nouvelle autorisations - {{ super() }}{% endblock title %}
{% block h1 %}
  <a class="glyphicon glyphicon-chevron-left backbutton"
     href="/" target="_self"></a>
  Nouvelle autorisation
{% endblock h1 %}

{% block content %}
<section class="container">

<form method="post" accept-charset="utf-8"
      ng-controller="RequestFormCtrl as vm"
      class='form-inline'>

  <fieldset class="request">

    <legend>Demande</legend>

    {% raw %}

        <div class="row">

          <div class="col-xs-12">

            <label class="inline-left">Faite le</label>
            <span class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="dd/MM/yyyy"
                     ng-model="vm.request.date"
                     is-open="vm.requestDatePicker.opened"
                     datepicker-options="{startingDay: 1}"
                     ng-required="true"
                     close-text="Fermer"
                     current-text="Aujourd'hui"
                     required
                     clear-text="Supprimer"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vm.requestDatePicker.opened = true">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>

            <label class="inline-between">par</label>

            <select name="genre" ng-model="vm.request.author.prefix">
              <option value="n/a">N/A</option>
              <option value="m">M.</option>
              <option value="f">Mme.</option>
            </select>

            <input type="text" name="candidate" "vm.request.author.name"
                   placeholder="Nom" required>

          </div>

        </div>

        <div class="row">

          <div class="col-md-4 address">
            <p><label>Adresse</label></p>
            <p>
              <textarea ng-model="vm.request.author.address"
                        required></textarea>
            </p>
          </div>

          <div class="col-md-6  phone">
            <p><label>Téléphone (optionnel)</label></p>
            <p>
              <input type="tel" name="phone"
                     ng-model="vm.request.author.phone">
            </p>
          </div>
        </div>

        <div class="row motive">
          <div class="col-md-7">
            <label class="inline-left">Motif</label>
            <select name="motive" required
                    ng-model="vm.request.motive">
              {% endraw %}

              {% for motive in motives %}
                <option value="{{ motive.id }}">{{ motive.name }}</option>
              {% endfor %}

              {% raw %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h4>Justificatifs</h4>
          </div>
        </div>

        <div class="row proofdoc" ng-repeat="doc in vm.request.docs">

          <div class="col-md-7">

            <a href="#" class="delete"
               ng-click="vm.removeDoc($event, $index)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>

            <label class="inline-left">Type</label>
            <select ng-model="doc.type" required >
              {#     TODO: get that from DB #}
              <option value="carteGrise">Carte Grise</option>
              <option value="proofOfAddress">Justificatif de domicile</option>
              <option value="CMI">Carte mobilité inclusion</option>
            </select>

            <label class="inline-between">Date de reception</label>
              <span class="input-group">

                <input type="text" class="form-control"
                       uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="doc.date"
                       is-open="doc.datePicker.opened"
                       datepicker-options="{startingDay: 1}"
                       required
                       close-text="Fermer"
                       current-text="Aujourd'hui"
                       clear-text="Supprimer"  />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="doc.datePicker.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>

              </span>


          </div>

        </div>

        <div class="row addproofdoc">
          <div class="col-md-6">
            <button class="btn btn-default"
                    ng-click="vm.addDoc($event)">
              Ajouter un justificatif
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>


    {% endraw %}

  </fieldset>

  <fieldset>
    <legend>Circulation</legend>
    <div class='row'>
      <div class="places col-md-7">
        <p><label>Lieux concernés</label></p>

            <ui-select on-select="vm.addPlace($item)"
                       ng-model="vm.newPlace" theme="bootstrap">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="place in (vm.places | filter: $select.search) track by place.id">
                    <span ng-bind="place.name"></span>
                </ui-select-choices>
            </ui-select>

        {% raw %}
        <ul class="place-list">
          <li ng-repeat="place in vm.request.authorization.places track by place.id" >
            <a href="#" class="delete" ng-click="vm.removePlace($event, $index)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
            {{ place.name }}

          </li>
        </ul>
        {% endraw %}

      </div>
    </div>

    <div class="row time-period">

      <div class="col-md-7">
        <h4>Pour la période</h4>
      </div>

      <div class="col-md-7">

        <label class="inline-left">Du</label>
        <span class="input-group">

          <input type="text" class="form-control"
                 uib-datepicker-popup="dd/MM/yyyy"
                 ng-model="vm.authorization.startDate"
                 is-open="vm.startDate.datePicker.opened"
                 datepicker-options="{startingDay: 1}"
                 ng-required="true"
                 close-text="Fermer"
                 current-text="Aujourd'hui"
                 clear-text="Supprimer"  />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="vm.startDate.datePicker.opened = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </span>

        <label class="inline-between">au</label>

        <span class="input-group">

          <input type="text" class="form-control"
                 uib-datepicker-popup="dd/MM/yyyy"
                 ng-model="vm.authorization.endDate"
                 is-open="vm.endDate.datePicker.opened"
                 datepicker-options="{startingDay: 1}"
                 ng-required="true"
                 close-text="Fermer"
                 current-text="Aujourd'hui"
                 clear-text="Supprimer"  />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="vm.endDate.datePicker.opened = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </span>

      </div>

    </div>

    <div class="row rules prescriptions">
      <div class="col-md-6">
        <p>
          <label>Prescriptions</label>
        </p>
        <textarea ng-model="vm.authorization.prescriptions"></textarea>
      </div>
    </div>

  </fieldset>


  <fieldset>
    <legend>Véhicules</legend>

    <div class="row addvehicule">

      <div class="col-md-7">
        <p>
          <label class="inline-left">Immatriculation</label>
          <input type="text" ng-model="vm.authorizations.vehicules"
                 ng-list required placeholder="Ex: 899XT06, 737RT13"
          >
        </p>
      </div>

    </div>

    <div class="row groupVehicules">
      <p>
        <label>
          <input type="checkbox" id="cbox1" value="groupCards"
                 ng-model="vm.request.groupVehicules"
          >
          <span>Grouper tous les véhicules sur un même carton</span>
        </label>
      </p>
    </div>


  </fieldset>

  <footer>

    <fieldset>

      <p>Modèles de lettre par défaut. <a href="#">Modifier</a>.</p>

      <p>
        <a href="#">Annuler</a>

        <button class="btn btn-default">
          Sauvegarder
        </button>
      </p>

    </fieldset>

  </footer>

</form>

</section>

{% endblock content %}
