{% extends "base.html" %}

{% block appname %}auth_request{% endblock appname %}"

{% block pageid %}auth-form{% endblock pageid %}

{% block extracss %}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/select.css') }}">
{% endblock extracss %}

{% block extrajs %}

  <script>
    // avoid an additional ajax request
    window.PRELOAD_PLACES = {{ places|safe }};

    {% if auth_request %}
      window.PRELOAD_REQUEST = {{ auth_request|safe }};
    {% endif %}
  </script>

  <script src="{{ url_for('static', filename='js/select.js') }}"
        type="text/javascript" charset="utf-8" ></script>
  <script src="{{ url_for('static', filename='js/forms.js') }}"
        type="text/javascript" charset="utf-8" ></script>
{% endblock extrajs %}

{% block title %}
  {% if auth_num %}
    Autorisation {{ auth_num }}
  {% else %}
    Nouvelle autorisation - {{ super() }}
  {% endif %}
{% endblock title %}
{% block h1 %}
  <a class="glyphicon glyphicon-chevron-left backbutton"
     href="/" target="_self"></a>
     {% if auth_num %}
     Autorisation {{ auth_num }}
   {% else %}
     Nouvelle autorisation
   {% endif %}
{% endblock h1 %}

{% block content %}
<section class="container">

<form method="post" accept-charset="utf-8"
      ng-controller="RequestFormCtrl as vm"
      class="form-inline"
      name="vm.requestForm"
      novalidate
      ng-submit="vm.save($event)">

  <fieldset class="request">
    <legend class="ng-cloak"
            ng-show="vm.request.category === 'salese'">
        Demande pour Salèse
    </legend>
    <legend class="ng-cloak"
            ng-show="vm.request.category === 'agropasto'">
        Demande Agro-pastorale
    </legend>
    <legend class="ng-cloak"
            ng-show="vm.request.category === 'other'">
        Autre demande
    </legend>
    <legend class="ng-cloak"
            ng-show="vm.request.category === 'legacy'">
      Demande importée
    </legend>
    {% raw %}

        <div class="row">

          <div class="col-xs-12">

            <label class="inline-left">Faite le</label>
            <span class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="dd/MM/yyyy"
                     ng-model="vm.request.requestDate"
                     is-open="vm.requestDatePicker.opened"
                     datepicker-options="{startingDay: 1}"
                     ng-required="true"
                     close-text="Fermer"
                     current-text="Aujourd'hui"
                     required
                     clear-text="Supprimer"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vm.requestDatePicker.opened = true">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>

            <label class="inline-between">par</label>

            <select name="genre"
                    required
                    ng-model="vm.request.authorGender">
              <option value="na">N/A</option>
              <option value="m">M.</option>
              <option value="f">Mme.</option>
            </select>

            <input type="text" name="candidate"
                   ng-model="vm.request.authorName"
                   placeholder="Nom" required>

          </div>

        </div>

        <div class="row">

          <div class="col-md-4 address">
            <p><label>Adresse</label></p>
            <p>
              <textarea ng-model="vm.request.authorAddress"
                        required></textarea>
            </p>
          </div>

          <div class="col-md-6  phone">
            <p><label>Téléphone (optionnel)</label></p>
            <p>
              <input type="tel" name="phone"
                     ng-model="vm.request.authorPhone"
                     pattern="[0-9/. +-]+">
            </p>
          </div>
        </div>
        <div class="row motive ng-cloack"
             ng-show="vm.request.category === 'other' || vm.request.category === 'legacy'">
          <div class="col-md-7">
            <label class="inline-left">Motif</label>
            <select name="motive" required
                    ng-model="vm.request.motive"
               >
              {% endraw %}

              {% for motive in motives %}

                {% if category == "salese" and "Salèse" in motive.name %}
                  <option value="{{ motive.id }}"
                          ng-init="vm.request.motive = '{{ motive.id}}'">
                    {{ motive.name }}
                  </option>

                {% elif category == "pro" and "commerciales" in motive.name %}
                <option value="{{ motive.id }}"
                        ng-init="vm.request.motive = '{{ motive.id}}'">
                  {{ motive.name }}
                </option>
                {% else %}
                  <option value="{{ motive.id }}">
                    {{ motive.name }}
                  </option>
                {% endif %}
              {% endfor %}

              {% raw %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h4>Justificatifs</h4>
          </div>
        </div>

        <div class="row proofdoc" ng-repeat="doc in vm.request.proofDocuments">

          <div class="col-md-10">

            <a href="#" class="delete"
               ng-click="vm.removeDoc($event, $index)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>

            <span ng-if="::!(doc.legacy_info || doc.expiration)">
              <label class="inline-left">Type</label>
              <select ng-model="doc.type" required >
                <option value="carteGrise">Carte Grise</option>
                <option value="proofOfAddress">Justificatif de domicile</option>
                <option value="CMI">Carte mobilité inclusion</option>
              </select>

              <label class="inline-between">Date de reception</label>
              <span class="input-group">

                <input type="text" class="form-control"
                        uib-datepicker-popup="dd/MM/yyyy"
                        ng-model="doc.date"
                        is-open="doc.datePicker.opened"
                        datepicker-options="{startingDay: 1}"
                        required
                        close-text="Fermer"
                        current-text="Aujourd'hui"
                        clear-text="Supprimer"  />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="doc.datePicker.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>

              </span>
            </span>
            <span class="ng-cloak"
                  ng-if="::(doc.legacy_info || doc.expiration)">
              <label class="inline-left">Donnée importée</label>
              {{ doc.legacy_info }} {{ ::doc.expiration }}
            </span>

          </div>

        </div>

        <div class="row addproofdoc">
          <div class="col-md-6">
            <button class="btn btn-default"
                    ng-click="vm.addDoc($event)">
              Ajouter un justificatif
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>


    {% endraw %}

  </fieldset>

  <fieldset>
    <legend>Circulation</legend>
    <div class='row'>
      <div class="places col-md-7">
        <p><label>Lieux concernés</label></p>

            <ui-select on-select="vm.addPlace($item)"
                       ng-model="vm.newPlace"
                       name="places"
                       theme="bootstrap">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="place in (vm.places | filter: $select.search) track by place.id">
                    <span ng-bind="place.name"></span>
                </ui-select-choices>
            </ui-select>

        {% raw %}
        <ul class="place-list">
          <li ng-repeat="place in vm.request.places track by place.id" >
            <a href="#" class="delete" ng-click="vm.removePlace($event, $index)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
            {{ place.name }}

          </li>
        </ul>
        {% endraw %}

      </div>
    </div>

    <div class="row time-period">

      <div class="col-md-7">
        <h4>Pour la période</h4>
      </div>

      <div class="col-md-8">

        <label class="inline-left">Du</label>
        <span class="input-group">

          <input type="text" class="form-control"
                 uib-datepicker-popup="dd/MM/yyyy"
                 ng-model="vm.request.authStartDate"
                 is-open="vm.startDate.datePicker.opened"
                 datepicker-options="{startingDay: 1, minDate: vm.minRequestDate, maxDate: vm.endDate || vm.maxDate}"
                 ng-required="true"
                 close-text="Fermer"
                 current-text="Aujourd'hui"
                 clear-text="Supprimer"
                 />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="vm.startDate.datePicker.opened = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </span>

        <label class="inline-between">au</label>

        <span class="input-group">

          <input type="text" class="form-control"
                 uib-datepicker-popup="dd/MM/yyyy"
                 ng-model="vm.request.authEndDate"
                 is-open="vm.endDate.datePicker.opened"
                 datepicker-options="{startingDay: 1, maxDate: vm.maxRequestDate, minDate: vm.startDate || vm.minDate}"
                 ng-required="true"
                 close-text="Fermer"
                 current-text="Aujourd'hui"
                 clear-text="Supprimer"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="vm.endDate.datePicker.opened = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </span>

      </div>

    </div>

    <div class="row rules prescriptions ng-cloak"
         ng-hide="['other', 'legacy'].indexOf(vm.request.category) === -1">
      <div class="col-md-6">
        <p>
          <label>Prescriptions (optionnel)</label>
        </p>
        <textarea ng-model="vm.request.rules"></textarea>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Véhicules</legend>

    <div class="row addvehicule">

      <div class="col-md-7">
        <p>
          <label class="inline-left">Immatriculation</label>
          <input type="text" ng-model="vm.request.vehicules"
                 ng-list required placeholder="Ex: 899XT06, 737RT13"
          >
        </p>
      </div>

    </div>

    <div class="row groupVehicules ng-cloak"
         ng-show="vm.request.category !== 'agropasto'">
      <p>
        <label>
          <input type="checkbox" id="cbox1" value="groupCards"
                 ng-model="vm.request.groupVehiculesOnDoc"
          >
          <span>Grouper tous les véhicules sur un même carton</span>
        </label>
      </p>
    </div>


  </fieldset>

  <footer id="footer" class="ng-cloak">

    <fieldset>

      <p>Modèles de lettre par défaut. <a href="#">Modifier</a>.</p>

      <p ng-if="!vm.request.valid && vm.request.id"
        class="delete-draft-button">
          <button class="btn btn-danger"
                  ng-click="vm.deleteDraft($event)">
                Supprimer ce brouillon
          </button>
      </p>


      <p>
        <a href="/authorizations" target="_self">Quitter</a>

        <button ng-class="{'btn': true, 'btn-default': vm.requestForm.$dirty, 'btn-info': !vm.requestForm.$dirty}"
                ng-if="!vm.request.valid"
                ng-click="vm.saveDraft($event)"
                ng-disabled="!vm.requestForm.$dirty">
          <span ng-if="vm.requestForm.$dirty">
              Enregistrer le brouillon
          </span>
          <span ng-if="!vm.requestForm.$dirty">
              Rien à sauver en brouillon
          </span>
          <i ng-if="!vm.requestForm.$dirty"
             class="glyphicon glyphicon-ok"></i>
          <i ng-if="vm.status === 'savingDraft'"
             class="glyphicon glyphicon-refresh glyphicon-spin"></i>
        </button>
        <button class="btn btn-default"
                ng-if="vm.request.valid"
                disabled>
          Ceci n'est plus un brouillon
        </button>

        {% raw %}

        <button ng-class="{'btn': true, 'btn-warning': vm.requestForm.$invalid, 'btn-success': vm.requestForm.$valid}"
                ng-click="vm.save($event)"
                ng-disabled="!vm.requestForm.$dirty && vm.requestForm.$valid"
        >
          <span ng-if="vm.requestForm.$dirty && vm.requestForm.$valid">
               Sauvegarder & générer les documents
          </span>
          <span ng-if="!vm.requestForm.$dirty && vm.requestForm.$valid">
              Documents à jour
          </span>
          <span ng-if="!vm.requestForm.$valid">
              Montrer les erreurs
          </span>
          <i ng-if="!vm.requestForm.$dirty && vm.request.valid && vm.requestForm.$valid && vm.status !== 'saving'"
             class="glyphicon glyphicon-ok"></i>
          <i ng-if="vm.status === 'saving'"
             class="glyphicon glyphicon-refresh glyphicon-spin"></i>
        </button>
      </p>
      {% endraw %}
    </fieldset>

  </footer>

</form>

</section>

{% endblock content %}
