<!DOCTYPE html>
<html lang="fr" ng-app="{% block appname %}auth_circu{% endblock appname %}">
<head>
  <!-- base is required by angular to use correctly the HTML5 mode -->
  <base href="/">
  <title>{% block title %}Autorisation de circulation{% endblock title %}</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style.css') }}">
  {% block extracss %}
  {% endblock extracss %}
  <style>
    .ng-cloak {
        display: none !important;
    }
  </style>
</head>
<body id="{% block pageid %}no-id{% endblock pageid %}">

{% block header %}

<header class="main-header container-fluid">

  <div class="title">
    <nav>
      <a href="/" target="_self">
          <img alt="Brand"
               src="{{ url_for('static', filename='img/logo_header.png') }}">
      </a>
    </nav>
    <h1>{% block h1 %}Autorisation de circulation{% endblock h1 %}</h1>
  </div>

  <nav class="menu">

    <ul>
      {% if user.id_droit_max >= 2 %}

        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
             <span class="glyphicon glyphicon-plus"></span>
             <span class="visible-lg-inline-block">Nouvelle autorisation</span>
             <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li>
              <a href="{{ url_for('auth_form') }}?category=agropasto" target="_self">
                Agro-pastorale
              </a>
              </li>
            <li>
              <a href="{{ url_for('auth_form') }}?category=salese" target="_self">
                Pour Salèse
              </a>
            </li>
            <li>
              <a href="{{ url_for('auth_form') }}" target="_self">
                Autre
              </a>
            </li>
          </ul>
        </li>

      {% endif %}

      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
           <span class="glyphicon glyphicon-user"></span>
           <span class="visible-lg-inline-block">{{ user.identifiant }}</span>
           <span class=" caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          {% if user.id_droit_max >= 6 %}
            <li><a href="/admin" target="_self">Admin</a></li>
          {% endif %}
          <li><a href="/auth/logout" target="_self">Se déconnecter</a></li>
        </ul>
      </li>

    </ul>
  </nav>

</header>
{% endblock header %}

{% block content %}
{% endblock content %}

<script src="{{ url_for('static', filename='js/angular/angular.js') }}"
        type="text/javascript" charset="utf-8" ></script>
<script src="{{ url_for('static', filename='js/angular/angular-sanitize.js') }}"
        type="text/javascript" charset="utf-8" ></script>
<script src="{{ url_for('static', filename='js/angular/angular-animate.js') }}"
        type="text/javascript" charset="utf-8" ></script>
<script src="{{ url_for('static', filename='js/angular/angular-touch.js') }}"
        type="text/javascript" charset="utf-8" ></script>
<script src="{{ url_for('static', filename='js/angular/ui-bootstrap.js') }}"
        type="text/javascript" charset="utf-8" ></script>
<script src="{{ url_for('static', filename='js/FileSaver.js') }}"
        type="text/javascript" charset="utf-8" ></script>
<script src="{{ url_for('static', filename='js/common.js') }}"
        type="text/javascript" charset="utf-8" ></script>

{% block extrajs %}
{% endblock extrajs %}

</body>
</html>
