{% extends "base.html" %}

{% block pageid %}listing{% endblock pageid %}

{% block extrajs %}
  <script src="{{ url_for('static', filename='js/listing.js') }}"
        type="text/javascript" charset="utf-8" ></script>
{% endblock extrajs %}

{% block title %}Liste des autorisations - {{ super() }}{% endblock title %}
{% block h1 %}Liste des autorisations{% endblock h1 %}

{% block content %}


<script>

  // On first load, we get immediate value for pagination
  // instead of waiting for an AJAX request.
  window.PRELOAD_PAGINATION = {
    status: "{{ selected_auth_status }}",
    month: "{{ selected_month }}",
    year: "{{ selected_year }}",
    search: "{{ searched_terms }}"
  }
</script>

<section class="container" ng-controller="AuthListingCtrl as vm">


  <header class="listing-header row"
          on-escape="vm.onClearSearch()"
          >
    <nav class="col-lg-7 col-md-12">
      <ul>

        <li>
          <label>Autorisations</label>
          <select name="auth_type"
                  ng-change="vm.refreshDateFilter()"
                  ng-model="vm.pagination.status">
            {% for value, name in auth_status.items() %}
              <option value="{{ value }}"
                      {% if value == selected_auth_status %}selected{% endif %}>
                      {{ name }}
              </option>
            {% endfor %}
          </select>
        </li>
        <li>
          <label>en</label>
          <select name="month"
                  ng-change="vm.refreshDateFilter()"
                  ng-model="vm.pagination.month">

            {% for i, month in months %}
              <option value="{{ i }}"
                      {% if i == selected_month %}selected{% endif %}>
                {{ month }}
              </option>
            {% endfor %}
          </select>
        </li>

        <li>
          <select name="year"
                  ng-change="vm.refreshDateFilter()"
                  ng-model="vm.pagination.year">
            {% for value, name in years %}
              <option value="{{ value }}"
                      {% if value == selected_year %}selected{% endif %}>
                {{ name }}
              </option>
            {% endfor %}
          </select>

        </li>


      </ul>
    </nav>

    <div>
      <form action="." ng-submit="vm.onSubmitSearch($event)"
            class="input-group search" class="col-lg-5 col-md-12">
        <input type="text" class="form-control"
               placeholder="Ex: Salèse + VM 89"
               ng-model="vm.search"
               ng-change="vm.onChange()"
        >
        <span id="searchclear"
              ng-click="vm.onClearSearch()"
              class="glyphicon glyphicon-remove-circle"></span>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </form>
    </div>

  </header>


 <div ng-show="vm.loading" class="loading ng-cloak">
      <p ng-hide="vm.error">
        <img src="/static/img/spinner.gif" class="spinner" />
        Chargement des autorisations
      </p>
      <p ng-show="vm.error" class="alert alert-warning ng-cloak">
      {% raw %}
        {{ vm.error }}
      {% endraw %}
      </p>
  </div>

  <p ng-hide="vm.loading || vm.authorizations.filteredListing.length"
     class="alert alert-successg ng-cloak">
    Aucune autorisation trouvée
  </p>

  <table ng-hide="vm.loading" class="table auth-list ng-cloak">

    <thead>
      <tr>
        <th class="date">Dates</th>
        <th class="candidate">Demandeur</th>
        <th>Lieux</th>
        <th>Véhicules</th>
        <th class="document">Document</th>
        <th class="edit"></th>
      </tr>
    </thead>

    <tbody>

      <tr ng-repeat="auth in vm.authorizations.filteredListing track by auth.id"
          ng-class="{'invalid': !auth.valid}">
        {% raw %}
        <td class="date">
            <span ng-if="::auth.auth_start_date">
              Début : {{ ::auth.auth_start_date }}
            </span>
            <span class="hide"
                  ng-if="::auth.auth_start_date && auth.auth_end_date">
              -
            </span>
            <span ng-if="::auth.auth_end_date">
              Fin : {{ ::auth.auth_end_date }}
            </span>
        </td>


        <td class="candidate">
          <p ng-if="::auth.author_name">
            <strong>
              <span ng-if="auth.author_gender === 'm'">
                  M.
              </span>
              <span ng-if="auth.author_gender === 'f'">
                  Mme.
              </span>
              {{ ::auth.author_name }}
            </strong>
          </p>
          <p ng-if"::auth.author_address">
            {{ ::auth.author_address }}
          </p>
          <p ng-if="::auth.author_phone">
            ({{ ::auth.author_phone }})
          </p>
        </td>

        <td title=" {{ ::auth.places|join:', ':'st'}}" >
          {{ ::auth.places|join:', ':'name'}}
        </td>

        <td>{{ ::auth.vehicules|join:', '}}</td>

        <td class="document">
          <a ng-if="::auth.valid"
             href="#"
             ng-click="vm.onDownloadAuthDocs($event, auth)">
             {{:: auth.number }}
          </a>
          <span ng-if="::auth.valid === false"
                class="glyphicon glyphicon-warning-sign">
            Brouillon
          </span>
          <span ng-if="::auth.valid === null"
                class="glyphicon glyphicon-ban-circle">
            {{:: auth.number }}
          </span>
        </td>

        <td class="edit">
          <a ng-href="/authorizations/{{ ::auth.id }}" target="_self">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a ng-href="/authorizations/{{ ::auth.id }}/clone" target="_self">
            <span class="glyphicon glyphicon-duplicate"></span>
          </a>
        </td>

        {% endraw %}

      </tr>

    </tbody>

  </table>


  <footer class="listing-footer ng-cloak" ng-hide="vm.loading">
    {% raw %}
    <p>
      <strong>Total</strong>:
      {{ vm.authorizations.filteredListing.length }}
    </p>
    {% endraw %}
    <dl>
      <dt>Exporter cette liste en:</dt>

      <!--
          TODO:
          Add attribution to gliphycons and those icons
         Icon made by <a title="Freepik" href="http://www.freepik.com">Freepik</a> from <a title="Flaticon" href="http://www.flaticon.com">www.flaticon.com</a>
      -->
      <dd>
        <a href="#" ng-click="vm.onDownloadODS()">
          .ods
          <img alt="Télécharger en tant que ODS" class="file-icon"
               src="{{ url_for('static', filename='img/ods.svg') }}">
        </a>
      </dd>
      <dd>
        <a href="#" ng-click="vm.onDownloadPDF()">
          .pdf
          <img alt="Télécharger en tant que PDF" class="file-icon"
               src="{{ url_for('static', filename='img/pdf.svg') }}">
        </a>
      </dd>
    </dl>
  </footer>
  {% raw %}
  <script type="text/ng-template" id="loading-modal.html">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Veuillez patienter</h3>
      </div>

      <div class="modal-body" id="modal-body"
           ng-if="vm.scope.status == 'loading'">
        <img src="/static/img/spinner.gif" class="spinner" />
        Préparation du document
      </div>
      <div class="modal-body" id="modal-body"
           ng-if="vm.scope.status == 'error'">
        {{ vm.scope.error }}
      </div>
      <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
      </div>
  </script>
  {% endraw %}

</section>
{% endblock content %}
