/******************
Global
*******************/

/* Fix for Angular-UI missing href */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* Header */

.main-header {
  border: none;
  border-radius: 0px;
  height: 75px;
  background-color: #5EAE27;
  color: white;
}


.main-header h1{
  font-size: 2.5rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main-header .navbar-header.pull-left {
  border: 1px solid red;
}

.main-header .navbar-brand {
    padding-top: 0;
}

.main-header .navbar-header.profile .navbar-nav{
    margin: 0; /* Reset responsive margin from bootstrap*/
}

.main-header .profile .dropdown > a {
  line-height: 75px;
  padding: 0 1rem;
  color: white;
}

.main-header .profile .dropdown > a:hover,
.main-header .profile .open > a {
  background-color: #689432;
  color: white;
}


/******************
HOME PAGE
*******************/

#home {
  background-color: #5EAE27;
}

.jumbotron {
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

.jumbotron img {
  width: 80%;
}

