/******************
Global
*******************/

/* Fix for Angular-UI missing href */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* Header */

.main-header {
  border: none;
  border-radius: 0px;
  height: 75px;
  background-color: #5EAE27;
  color: white;
  display: flex;
  flex-direction: row;
}

.main-header .title {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.main-header h1{
  font-size: 2.5rem;
  padding: 0 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main-header .menu{
  margin-left: auto;
}

.main-header .menu li{
  display: inline-block;
}

.main-header .menu .dropdown-toggle{
  line-height: 75px;
  display: inline-block;
  padding: 0 1rem;
  color: white;
}

.main-header .menu .dropdown-toggle:hover{
  background-color: #689432;
  text-decoration: none;
}

.main-header .menu .dropdown-menu li {
  width: 100%;
}


/******************
HOME PAGE
*******************/

#home {
  background-color: #5EAE27;
}

.jumbotron {
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

.jumbotron img {
  width: 80%;
}

