/******************
Global
*******************/

/* Fix for Angular-UI missing href */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* Prevent angular syntax flashing */
.ng-cloak {
  display: none !important;
}


/* Header */

.main-header {
  border: none;
  border-radius: 0px;
  height: 75px;
  background-color: #76A939;
  color: white;
  display: flex;
  flex-direction: row;
}

.main-header .title {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.main-header h1{
  font-size: 2.5rem;
  padding: 0 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main-header .menu{
  margin-left: auto;
}

.main-header .menu li{
  display: inline-block;
}

.main-header .menu .dropdown-toggle{
  line-height: 75px;
  display: inline-block;
  padding: 0 1rem;
  color: white;
}

.main-header .menu .dropdown-toggle:hover{
  background-color: #689432;
  text-decoration: none;
}

.main-header .menu .dropdown-menu li {
  width: 100%;
}


/******************
HOME PAGE
*******************/

#home {
  background-color: #5EAE27;
  height: 100vh;
}

.jumbotron {
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

.jumbotron img {
  width: 80%;
}

/******************
LISTING PAGE
*******************/

/* General styles */

#listing .auth-list a,
#listing .listing-footer a {
  color: grey;
}

#listing .auth-list a:hover,
#listing .listing-footer a:hover {
  color: inherit;
}

#listing .listing-header nav {
  padding-left: 0;
  margin: 1rem 0;
}

#listing .listing-header ul {
  padding: 0;
  margin: 0;
}

#listing .listing-header li,
#listing .auth-list li {
  list-style-type: none;
}

#listing .file-icon {
  height:1.5rem;
}

#listing .loading {
  text-align: center;
}

#listing .loading img{
  margin-right: 1rem;
}


/* Header */

#listing .listing-header {
  margin: 1rem 0 2rem 0;
}

#listing .listing-header li{
  display: inline-block;
}



#listing .listing-header .search{
  margin: 1rem 0;
}

/* Listing */

#listing .auth-list .date {
  min-width: 15ex;
  white-space: nowrap;
}

#listing .auth-list .date span {
  display: block;
}


#listing .auth-list .candidate {
  min-width: 35ex;
}

#listing .auth-list .candidate p {
  margin-bottom: 0;
}



#listing .auth-list .document {
  text-align: center;
  min-width: 15ex;
}


#listing .auth-list .document a {
  text-decoration: underline;
}


#listing .auth-list .edit {
  min-width: 15ex;
  text-align: center;
}

#listing .auth-list .edit a {
  padding: 0 1rem;
}


#listing tbody tr:nth-of-type(odd) {
  background: #eee;
}

/* Display the table as a list for smalls screen */
@media only screen and (max-width: 1080px)  {

  /* Force table to not be like tables anymore */
  #listing table,
  #listing thead,
  #listing tbody,
  #listing th,
  #listing td,
  #listing tbody tr {
    display: block;
  }


  #listing thead tr {
    display: none;
  }

  #listing tr {
    border: 1px solid #ccc;
  }


  /* Label the data */
  #listing td:before {

    width: 100%;
    display: block;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
  }

  #listing td:nth-of-type(1):before { content: "Dates"; }
  #listing td:nth-of-type(2):before { content: "Demandeur"; }
  #listing td:nth-of-type(3):before { content: "Lieux"; }
  #listing td:nth-of-type(4):before { content: "Véhicules"; }
  #listing td:nth-of-type(5):before { content: "Document"; }

  #listing .auth-list .date {
    text-align: center;
  }

  #listing .auth-list .date span {
    display: inline !important; /* Also show the separator*/
  }

  #listing .auth-list .date span.hide {
  }

}


/* Footer */

#listing .listing-footer {
  display: flex;
  flex-direction: row;
}

#listing .listing-footer dl {
   margin-left: auto;
}

#listing .listing-footer dl {
  display: flex;
  flex-direction: row;
}

#listing .listing-footer dt {
  margin-right: 1rem;
}

#listing .listing-footer dd {
  margin-right: 1rem;
}

